<% if !user_signed_in? %>
	<div class="jumbotron">
		<h1>Welcome to Samsara</h1>
		<p>DIY YOLO organic, ennui green juice bushwick marfa tote bag before they sold out chicharrones asymmetrical narwhal lo-fi. Photo booth four loko lumbersexual microdosing, slow-carb pop-up bushwick squid asymmetrical.</p>
		<p><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
	</div>
<% end %>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
      	<%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
      </div>		
    </div>
   <% end %>
</div>