@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background: #AA4847;
}

.review-title {

}
h1 {
	margin-top: 3px;
}
.reviews {
	padding: 10px 30px 10px 30px;
	.star-rating {
		padding-bottom: 2px;
	}
}