@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background: #AA4847;
}

.review-title {
	margin: 0 10px 20px 0;
}
.reviews {
	padding: 10px 30px;
	.star-rating {
		padding-bottom: 2px;
	}
}